

$line-height-base: 1.3;
$line-height-sm: 1.3;
$line-height-lg:  1.3;

$input-btn-padding-y:    .25rem;
$input-btn-padding-x:    .5rem;

$input-btn-padding-y-sm: .125rem;
$input-btn-padding-x-sm: .25rem;

$input-btn-padding-y-lg: .375rem;
$input-btn-padding-x-lg: .75rem;

$dropdown-item-padding-y:           .15rem;
$dropdown-link-hover-color:         #FFF;
$dropdown-link-hover-bg:            #E16400;

$dropdown-link-active-color:        #FFF;
$dropdown-link-active-bg:           #E16400;

//modal
// $modal-inner-padding:               1rem !default;

// $modal-dialog-margin:               .5rem !default;
// $modal-dialog-margin-y-sm-up:       1.75rem !default;

// $modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  transparent;
// $modal-content-border-color:        rgba($black, .2) !default;
// $modal-content-border-width:        $border-width !default;
// $modal-content-border-radius:       $border-radius-lg !default;



// $modal-header-border-color:         $gray-200 !default;
// $modal-footer-border-color:         $modal-header-border-color !default;
// $modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         0;
$modal-header-padding: .5rem 1rem;

//close
$close-color: #FFF;
$close-text-shadow: 2px 2px 1px #000;


//icon
$icon-font-path: '../../node_modules/open-iconic/font/fonts/';//https://useiconic.com/open
$ionicons-font-path: '../../node_modules/ionicons/dist/fonts';//https://ionicons.com/

//table
$table-border-color: #FFF;

//Size
$sizes: (
    5: 5%,
    10: 10%,
    15: 15%,
    80: 80%,
    90: 90%
);

