
@mixin my-form-validation-state($state, $color)
{
    .#{$state}-feedback
    {
        font-size: $form-feedback-font-size;

        @if $state != 'tip' {
            display: none;
            width: 100%;
        } @else {
            width: auto;
        }

        // display: none;

        
        margin-top: $form-feedback-margin-top;

        color: $color;
    }

    .#{$state}-inline-feedback
    {
        font-size: $form-feedback-font-size;
        
        @if $state == 'invalid' {   
            display: none;
        }

        width: 100%;

        color: $color;
    }

    .#{$state}-tooltip
    {
        font-size: .875rem;
        line-height: 1;

        position: absolute;
        z-index: 5;
        top: 100%;

        display: none;

        max-width: 100%; // Contain to parent when possible
        margin-top: .1rem;
        padding: .5rem;

        color: $white;
        border-radius: .2rem;
        background-color: rgba($color, .8);
    }


    .form-control,
    .custom-select,
    .ip_control
    {
        .my-was-validated &:#{$state},
        &.is-#{$state}
        {

            @if $state == 'invalid' {
                border-color: $color;
                &:focus
                {
                    border-color: $color;
                    box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
                }

                ~ .#{$state}-feedback,
                ~ .#{$state}-inline-feedback,
                ~ .#{$state}-tooltip
                {
                    display: block;
                }

                ~ .valid-feedback,
                ~ .valid-inline-feedback,
                ~ .valid-tooltip
                {
                    display: none;
                }

            }
        }

        @if $state == 'tip' {

            .my-was-validated &:invalid, &.is-invalid
            {
                border-color: $form-feedback-invalid-color;
                &:focus
                {
                    color: $form-feedback-invalid-color;
                    box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
                }

                ~ .#{$state}-feedback,
                ~ .#{$state}-inline-feedback,
                ~ .#{$state}-tooltip
                {
                    color: $form-feedback-invalid-color;
                }
            }
        }
    }

    .form-control-file
    {
        .my-was-validated &:#{$state},
        &.is-#{$state}
        {

            @if $state == 'invalid' {
                 ~ .#{$state}-feedback,
                 ~ .#{$state}-inline-feedback,
                 ~ .#{$state}-tooltip
                {
                    color: $color;
                }

                ~ .valid-feedback,
                ~ .valid-inline-feedback,
                ~ .valid-tooltip
                {
                    display: none;
                }
                
            }
        }
    }

    .form-check-input
    {
        .my-was-validated &:#{$state},
        &.is-#{$state}
        {

             @if $state == 'invalid' {
               ~ .form-check-label
               {
                    color: $color;
                }

                ~ .#{$state}-feedback,
                ~ .#{$state}-inline-feedback,
                ~ .#{$state}-tooltip
                {
                    display: block;
                }

                ~ .valid-feedback,
                ~ .valid-inline-feedback,
                ~ .valid-tooltip
                {
                    display: none;
                }
                
            }

        }

        @if $state == 'tip' {

            .my-was-validated &:invalid, &.is-invalid
            {
                ~ .form-check-label
                {
                    color: $form-feedback-invalid-color;
                }
            }
        }



    }

    .custom-control-input
    {
        .my-was-validated &:#{$state},
        &.is-#{$state}
        {

            @if $state == 'invalid' {
                ~ .custom-control-label
                {
                    color: $color;

                    &::before
                    {
                        background-color: lighten($color, 25%);
                    }
                }

                ~ .#{$state}-feedback,
                ~ .#{$state}-inline-feedback,
                ~ .#{$state}-tooltip
                {
                    display: block;
                }

                ~ .valid-feedback,
                ~ .valid-inline-feedback,
                ~ .valid-tooltip
                {
                    display: none;
                }
                
                &:checked
                {
                     ~ .custom-control-label::before
                    {
                        @include gradient-bg(lighten($color, 10%));
                    }
                }

                &:focus
                {
                     ~ .custom-control-label::before
                    {
                        box-shadow: 0 0 0 1px $body-bg, 0 0 0 $input-focus-width rgba($color, .25);
                    }
                }
            }

        }
    }

    // custom file
    .custom-file-input
    {
        .my-was-validated &:#{$state},
        &.is-#{$state}
        {
            @if $state == 'invalid' {
              
                ~ .valid-feedback,
                ~ .valid-inline-feedback,
                ~ .valid-tooltip
                {
                    display: none;
                }
                
                 ~ .custom-file-label
                {
                    border-color: $color;

                    &::before
                    {
                        border-color: inherit;
                    }
                }

                 ~ .#{$state}-feedback,
                 ~ .#{$state}-inline-feedback,
                 ~ .#{$state}-tooltip
                {
                    display: block;
                }

                &:focus
                {
                     ~ .custom-file-label
                    {
                        box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
                    }
                }
            }
        }
    }
}
