.text_md{
    font-size: 1rem;
}

.text_sm{
    font-size: 0.9rem;
}

.text_lg{
    font-size: 1.2rem;
}

.mr_11px{
	margin-right: 11px;
}

.mt-2rem{
    margin-top: 2rem;
}

.mt-rev-1rem{
    margin-top: -1rem;
}

.mt-rev-16px{
    margin-top : -16px;
}

.ml-rev-15px{
    margin-left : -15px;
}

.ml-rev-8px{
    margin-left : -8px;
}

.pt_10px_impt{
	padding-top:10px !important;
}

.mt_10px{
	margin-top:10px;
}

.w_21px{
	width: 21px;
}

.w_80px{
	width: 80px;
}

.w_85px{
	width: 85px;
}

.w_100px{
	width: 100px;
}

.w_130px{
	width: 130px;
}

.w_220px{
	width: 220px;
}

.w_260px{
	width: 260px;
}

.w_300px{
	width: 300px;
}

.w_310px{
	width: 310px;
}

.encode_legend_row{
	margin-top : -20px;
	height: calc(2.25rem + 2px);	
}

.legend_row{
	margin-top : -0375rem;
	line-height: 100%;
}

.conmmon_title_w{
	min-width: 190px;
}

.trangle_top {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 .375rem .65rem .375rem;
	border-color: transparent transparent #636363 transparent;
	transition: transform .5s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.trangle_right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .375rem 0 .375rem .65rem;
	border-color: transparent transparent transparent #636363;
	transition: transform .5s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.trangle_bottom {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .375rem 0 .375rem .65rem;
	border-color: #636363 transparent transparent transparent;
	transition: transform .5s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.trangle_left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .375rem .65rem .375rem 0;
	border-color: transparent #636363 transparent transparent;
	transition: transform .5s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.trangle_open{
	transform: rotate(90deg);
}

.subTree{
	display: none;
}

.subTree_open{
	display: block;
}