.text_md{
    font-size: 1rem;
}

.text_sm{
    font-size: 0.9rem;
}

.text_lg{
    font-size: 1.2rem;
}

.mt-2rem{
    margin-top: 2rem;
}

.mt-rev-16px{
    margin-top : -16px;
}

.ml-rev-8px{
    margin-left : -8px;
}

.pt_10px_impt{
	padding-top:10px !important;
}

.mt_10px{
	margin-top:10px;
}

.w_21px{
	width: 21px;
}
.w_85px{
	width: 85px;
}

.w_220px{
	width: 220px;
}

.w_260px{
	width: 260px;
}

.w_300px{
	width: 300px;
}

.encode_legend_row{
	margin-top : -20px;
	height: calc(2.25rem + 2px);	
}